In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv('income.csv')

In [ ]:
# 2. Displaying the first few rows of a DataFrame
print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [ ]:
# 3. Checking the basic information about the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

In [ ]:
# 4. Describing the statistical summary of numerical columns
print(df.describe())

                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48842.000000
mean      38.643585  1.896641e+05        10.078089   1079.067626
std       13.710510  1.056040e+05         2.570973   7452.019058
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48842.000000
mean      87.502314       40.422382
std      403.004552       12.391444
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000

In [ ]:
# 5. Selecting a single column from the DataFrame
column_data = df['education']
print(column_data)

0                11th
1             HS-grad
2          Assoc-acdm
3        Some-college
4        Some-college
             ...
48837      Assoc-acdm
48838         HS-grad
48839         HS-grad
48840         HS-grad
48841         HS-grad
Name: education, Length: 48842, dtype: object

In [ ]:
# 7. Handling missing values by dropping or filling them
df_cleaned = df.dropna()  # or df.fillna(value)
print(df_cleaned)

       age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]

In [ ]:
# 9. Sorting DataFrame by one or more columns
#sorted_df = df.sort_values(by=['Column1', 'Column2'], ascending=[True, False])

In [ ]:
# 8. Grouping data based on a column and applying an aggregate function
#grouped_data = df.groupby('education').mean()

In [ ]:
# 10. Adding a new column based on existing columns
df['New_Column'] = df['Column1'] + df['Column2']

In [ ]:
# 11. Merging two DataFrames based on a common column
merged_df = pd.merge(df1, df2, on='Common_Column')

In [ ]:
# 12. Reshaping data using the pivot table
pivot_table = df.pivot_table(values='Value', index='Index_Column', columns='Column_Name', aggfunc='mean')

In [ ]:
# 13. Applying a function element-wise to a column
df['New_Column'] = df['Column'].apply(lambda x: x * 2)

In [ ]:
# 14. Removing duplicate rows based on specified columns
df_no_duplicates = df.drop_duplicates(subset=['Column1', 'Column2'])

In [ ]:
# 15. Creating a cross-tabulation table
cross_tab = pd.crosstab(df['Column1'], df['Column2'])

In [ ]:
# 16. Changing data types of columns
df['Column'] = df['Column'].astype('float')

In [ ]:
# 17. Performing element-wise operations on columns
df['New_Column'] = df['Column1'] * df['Column2']

In [ ]:
# 19. Applying a function to each element in a column
df['New_Column'] = df['Column'].apply(lambda x: custom_function(x))

In [ ]:
# 20. Saving DataFrame to a CSV file
df.to_csv('output.csv', index=False)

In [ ]:
# 18. Handling date and time data
df['Date_Column'] = pd.to_datetime(df['Date_Column'])
df['Month'] = df['Date_Column'].dt.month